<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserMapper">

    <resultMap id="basicResultMap" type="com.tencent.wxcloudrun.model.po.auth.AuthStatus">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <sql id="allFields">
        id, name
    </sql>

    <!-- default where statement needs a Condition instances as param -->
    <sql id="basicWhere">
        <where>
            <if test="condition.instance.id != null">
                AND id = #{condition.instance.id}
            </if>
            <if test="condition.instance.name != null">
                AND name = #{condition.instance.name}
            </if>
        </where>
    </sql>

</mapper>