<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserMapper">

    <resultMap id="basicUserResultMap" type="com.tencent.wxcloudrun.model.po.auth.User">
        <id property="id" column="id" />
        <result property="bId" column="b_id" javaType="java.lang.String" />
        <result property="username" column="username" />
        <result property="firstName" column="first_name" />
        <result property="lastName" column="last_name" />
        <result property="creator" column="fk_creator" javaType="java.lang.String" />
        <result property="createdDate" column="created_date" />
        <result property="updatedDate" column="updated_date" />
        <result property="updater" column="fk_updater" />
        <result property="phoneNo" column="phone_no" />
        <result property="email" column="email" />
        <result property="code" column="code" />
        <result property="avatarBId" column="fk_avatar_b_id" />
    </resultMap>

    <sql id="allUserFields">
        id, b_id, username, first_name, last_name, fk_creator, created_date, updated_date,
        fx_updater, phone_no, email, code, fk_avatar_b_id
    </sql>

    <!-- default where statement needs a Condition instances as param -->
    <sql id="basicUserWhere">
        <where>
            <if test="condition.instance.id != null">
                AND  id = #{condition.instance.id}
            </if>
            <if test="condition.instance.bId != null">
                AND b_id = #{condition.instance.bId}
            </if>
            <if test="condition.instance.username != null">
                AND username = #{condition.instance.username}
            </if>
            <if test="condition.instance.firstName != null">
                AND first_name = #{condition.instance.firstName}
            </if>
            <if test="condition.instance.lastName != null">
                AND last_name = #{condition.instance.lastName}
            </if>
            <if test="condition.instance.creator != null">
                AND fk_creator = #{condition.instance.creator}
            </if>
            <if test="condition.instance.createdDate != null">
                AND created_date = #{condition.instance.createdDate}
            </if>
            <if test="condition.instance.updatedDate != null">
                AND updated_date = #{condition.instance.updatedDate}
            </if>
            <if test="condition.instance.updater != null">
                AND fk_updater = #{condition.instance.updater}
            </if>
            <if test="condition.instance.phoneNo != null">
                AND phone_no = #{condition.instance.phoneNo}
            </if>
            <if test="condition.instance.email != null">
                AND email = #{condition.instance.email}
            </if>
            <if test="condition.instance.code != null">
                AND code = #{condition.instance.code}
            </if>
            <if test="condition.instance.avatarBId != null">
                AND fk_avatar_b_id = #{condition.instance.avatarBId}
            </if>
        </where>
    </sql>
</mapper>